<div class="row">
    <div class="col-md-12">
        <br/><br/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <h4><font color="#ff3385">Add a movie:</font></h4>
        <br>
    </div>
    <div class="col-md-5">
        <input type="text" class="form-control" name="movieName" id="movieName" placeholder="Movie name" required>
    </div>
    <div class="col-md-3">
        <button type='button' id='btnAddMovie' class='btn btn-primary'>Add</button>
    </div>
    <div class="col-md-2">
        <input type="hidden" id="addID">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br/>
    </div>
</div>

<div class="row">
    <table class="table table-hover" id="table">
        <colgroup>
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead>
        <tr>
            <th>Movie name</th>
            <th>Watched?</th>
            <th>Delete movie</th>
            <th>Edit title</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" id="movieModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id='editGuest'>Change movie title</h4>
            </div>
            <form id="editMovie">
                <div class="modal-body">
                    <input type="hidden" id="editID">
                    <input type="hidden" id="watched">
                    <legend></legend>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="editName" id="editName" placeholder="Change movie name" required>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type='button' id='btnUpdateMovie' class='btn btn-primary'>Edit movie title</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="js/Movie.js"></script>